html, body {
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  background-color: #fff;
}

body { box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }

a {
  text-decoration: none;
}
